[user]
	name = Chandler May
	email = chandler.camille.may@gmail.com
[color]
	ui = true
[credential]
	helper = cache --timeout 3600
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
