[color]
	ui = true
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[user]
	name = Chandler May
	email = chandler.camille.may@gmail.com
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
